$(".dashboard-notification-list").empty();
var html = "";

<% @notifications.reverse.each do |notification| %>
html += "<li class='dashboard-notification-item'>";
html +=   `<%= render partial: 'dashboard/dashboard_notification', locals: { request: notification.notifiable, notification: notification } %>`;
html += "</li>";
html += "<div class='divider'></div>";
<% end %>

$(".dashboard-notification-list").append(html);
