<li>
  <div class="row">
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <p><%=message.created_at.strftime("%d %b. %H:%M") %></p>
      <%= message.content %>
    </div>
  </div>
</li>
