<div class="rating">
  <i class="material-icons">star</i>
  <i class="material-icons">star</i>
  <i class="material-icons">star</i>
  <i class="material-icons">star</i>
  <i class="material-icons">star</i>
</div>
