<div class="landing-page-background">
  <div class="home-header">
    <span class="thick">WE</span><span class="thin">xchange</span>
  </div>
  <div class="container row">
    <form class="search-form">
      <div class="input-field col m6 offset-m3">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <input class="home-search-bar" type="search" name="search_query" placeholder="Search..." required>

      </div>
    </form>
  </div>
</div>
