<div class="messages-wrapper">
  <div class="row">
    <div class="col m3 message-user-column">
      <div class="user-list-heading">
        <h3 class="user-list-title">User List</h3>
      </div>
      <div class="user-list-body">
        <ul>
          <% @users.each do |user| %>
            <li class="user-list-item">
              <%= render partial: 'chats/user_cell.html.erb', locals: {user: user} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col m9 message-content-column">
      <ul id="chats-list"></ul>
    </div>
  </div>
</div>
