
// ##########################
// views/chats/index.html.erb
// ##########################

.messages-wrapper {
  height: 100%;
  .col {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .row {
    height: 100%;
  }
}

.message-user-column {
  border-right: 3px solid black;
  height: 100%;

  .user-list-heading {
    text-align: center;
    border-bottom: 2px solid black;
  }

  .user-list-body {
    ul {
      margin: 0;
    }
  }

  .user-list-item {
    border-bottom: 1px solid black;
    padding: 10px 5px;

  }
}

// ##########################
// views/chats/_chat.html.erb
// ##########################

.chat-wrapper {
  padding-bottom: 20px;
  .chat-heading {
    height: 40px;
    margin-bottom: 10px;

    .chat-display-name {
      font-size: 25px;
      padding-left: 10px;
    }
    .close-chat-button {
      float: right;
      margin-right: 20px;
    }

  }
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  ul {
    padding-left: 0px;
    list-style: none;
  }
}

.message-form {
  padding: 10px;
  .message-input {
    resize: none;
  }
  .message-send-button-wrapper {
    display: block;
    height: 46px;
  }
  .message-send-button {
    display: block;
    margin: auto 5%;
    height: 100%;
    width: 90%;
  }
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
