// ##########################
// views/chats/index.html.erb
// ##########################

#chats-list {
  margin-top: 0;
  height: 100%;
}

// ##########################
// views/chats/_user_cell.html.erb
// ##########################

.user-cell {
  margin-bottom: 0px;
  height: 100%;
  line-height: 30px;
  padding-top: 10px;
}

.user-cell-profile-picture {
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  margin: 0 0 10px 10px !important;

}

.user-cell-right-side {
  margin-left: 20px;

  .user-cell-header-wrapper {

    width: 100%;
    height: 30px;

    .user-cell-display-name {
      font-size: 20px;
      margin: 0;
      float: left;
      color: black;
    }

    .user-cell-recent-message-time {
      line-height: 12px;
      font-size: 12px;
      margin: 0;
      float: right;
      margin-top: 7px;
      margin-right: 10px;
      color: gray;
    }


  }
}

.user-cell-recent-message {
  font-size: 16px;
  margin: 0;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ##########################
// views/chats/index.html.erb
// ##########################

.messages-wrapper {
  height: calc(100% - 64px);
  overflow-y: hidden;
  .side-nav {
    width: 350px;
  }
  .col {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .row {
    height: 100%;
    margin-bottom: 0px;
  }
}

.message-users {
  li.active {
    background-color: #2196f3;
    box-shadow: 0 5px 5px 0 gray;

    .user-cell-display-name {
      color: white;
    }

    .user-cell-recent-message-time {
      color: white;
    }

    .user-cell-recent-message {
      color: white;
    }
  }
}

.user-list-heading {

  width: 100%;
  height: 70px;


  .user-list-title {
    font-size: 30px;
    margin: 10px 10px 0 10px;
    float: left;
  }

  .user-list-send-button {
    font-size: 30px;
    float: right;
    margin: 20px 20px 0 0;
  }
}

.message-content-column {
  height: 100%;
  padding-left: 350px;

  #chat {
    height: 100%;
  }
}

// ##########################
// views/chats/_chat.html.erb
// ##########################


.chat-wrapper {
  height: 100%;
  width: 100%;
  .data-wrapper {
    height: 100%;
    width: 100%;
  }
  .chat-heading {
    height: 45px;
    .chat-display-name {
      font-size: 25px;
      padding-left: 10px;
    }
    .close-chat-button {
      float: right;
      margin-right: 20px;
    }
  }
  .chat-body {
    display: block;
    height: 100%;
    .messages-list {
      overflow-y: scroll;
      height: calc(100% - 110px);
      ul {
        padding-left: 0px;
        list-style: none;
      }
    }
    .message-form {
      position: relative;
      bottom: 5px;
      right: 0px;
      left: 0px;
      height: 80px;
      padding: 10px;

      .message-input {
        resize: none;
      }
      .message-send-button-wrapper {
        display: block;
        height: 100%;
      }
      .message-send-button {
        display: block;
        margin: auto 5%;
        height: 100%;
        width: 90%;
      }
    }
  }
}

.message-wrapper {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;

  .align-right {
    text-align: right;
    margin-right: 10px;
  }

  .align-left {
    text-align: left;
    margin-left: 10px;
  }
}

.message-bubble-wrapper {
  width: 100%;
  overflow: auto;
}

.message-content {
  margin: 0 5px;
}

.message-sent-time {
  font-size: 10px;
  color: gray;
}

.message-sent {
  position: relative;
  background-color: #2196f3;
  color: white;
  padding: 7px 10px;
  float: right;
  margin-right: 30px;
  border-radius: 10px 10px 0 10px;

  &:after {
    content: '';
  	position: absolute;
  	right: 0;
  	top: calc(100% - 11.5px);
  	width: 0;
  	height: 0;
    border: 23px solid transparent;
  	border-left-color: #2196f3;
  	border-right: 0;
  	border-bottom: 0;
  	margin-top: -11.5px;
  	margin-right: -23px;
  }
}

.message-received {
  position: relative;
  background-color: #e0e0e0;
  margin: 5px 30px;
  padding: 7px 10px;
  float: left;
  border-radius: 10px 10px 10px 0;

  &:after {
    content: '';
  	position: absolute;
  	left: 0;
  	top: calc(100% - 11.5px);
  	width: 0;
  	height: 0;
  	border: 23px solid transparent;
  	border-right-color: #e0e0e0;
  	border-left: 0;
  	border-bottom: 0;
  	margin-top: -11.5px;
  	margin-left: -23px;
  }
}
