// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 !important;
  padding: 0 !important;
  // width: 100%;
  // height: 100%;
}

.tab {
  background-color: #eeeeee !important;
  a {
    color: #9e9e9e !important;
  }
  .active {
    background-color: white !important;
    color: #2196f3 !important;
  }
}

.container-fluid {
  height: calc(100% - 85px);
  overflow-y: hidden;

  .row {
    margin-bottom: 0;
  }

  .requests, .card {
    height: 100%;
  }

  .card-content {
    padding-top: 10px;
  }
}

.requests-column {
  height: 98%;
  .card {
    height: 100%;
    .dashboard-sidebar-items-container {
      height: 100%;
      .badge {
        margin-top: 10px;
        float: left;
      }
      .dashboard-sidebar-items {
        width: 100% !important;
        height: calc(100% - 50px);
        margin: 0;
        overflow:hidden;
        overflow-y:scroll;
      }
    }
  }
}

.notifications-column {
  height: 98%;
  .card {
    height: 100%;
    .card-content {
      height: 100%;
      padding: 10px;
    }
  }
  .dashboard-notification-list {
    height: calc(100% - 32px);
    overflow-y: scroll;
  }
}

.dashboard-request-header-wrapper {
  margin-bottom: 0px;

  .dashboard-sidebar-item-name {
    font-size: 25px;
    font-weight: 100;
    float: left;
    color: #444;
  }

  .btn {
    margin: 0px;
  }
}

.dashboard-notification-item {

  .notification-text {
    color: black;
  }

  .notification-time-ago {
    font-size: 12px;
    color: gray;
  }

  .unread {
    font-weight: bold;
  }

  .read {
    font-weight: normal;
    color: gray;
  }
}

.dashboard-request-content-wrapper {
  margin: 0;

  .dashboard-sidebar-item-deadline {
    text-align: right;
  }

}

.dashboard-sidebar-header-view-button-wrapper {
  .dashboard-request-view-button {
    float: right;
  }
}

.dashboard-sidebar-container {
  margin-top: 2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-sidebar-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  color: #d5d5d5;
}

.dashboard-side-bar-item-link-wrapper {
  height: 100%;
  width: 100%;
  display: block;
}

.dashboard-sidebar-request-tabs {
  width: 100%;
}

.no-requests {
  text-align: center;
  font-size: 50px;
  color: #e0e0e0;
  width: 100%;
  margin-top: 100px;
}

.no-notifications {
  text-align: center;
  font-size: 40px;
  color: #e0e0e0;
  width: 100%;
  margin-top: 100px;
}


.dashboard-sidebar-item {
  color: #d5d5d5;

  .dashboard-request-badge-wrapper {
    width: 100%;
    height: 40px;
  }
}

.divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

.deadlines .card-title {
  color: #d5d5d5;
  font-size: 25px;
  font-weight: 500;
}

.deadline-card-items {
  height: 200px;
  overflow:hidden;
  overflow-y:scroll;
}

.deadline-card-item {
  height: 30px;
  list-style: none;
}

// _dashboard_request_approval_modal.html.erb

.request-modal-wrapper {

  color: black;

  .request-title {
    font-size: 50px;
    margin-top: 0;
  }

  .message-text-area {
    display: none;
    width: 100%;
  }

  .response-textarea {
    display: none;
    color: black;
    margin-bottom: 0;
  }

  .creator-response-wrapper {
    background-color: #EBEBEB;
    color: black;
    padding: 10px;
    border-radius: 10px;
  }

  .client-accept-decline-price {
    font-size: 30px;
  }

  .creator-accept-decline-input-wrapper {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid gray;

    .price-input {

      margin-top: 0;

      .price-label {
        float: left;
      }

      .price-text-field {
        float: left;
        width: 50px;
        font-size: 20px;
      }

      .input-field {
        margin-top: 0;
      }
    }
  }
}

// Progress Tracker

.progress-title {
  font-size: 20px;
  font-weight: 100;
  margin-right: 10px;
  color: #444;
  float: left;
}
.progress-tracker-header-wrapper {
  margin-top: 20px;

  .btn {
    margin-top: 2px;
  }
}

.marker-list {
  margin-left: 15px;
}

// Notifications

.notification-link-wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;

  .notification-profile-picture-wrapper {
    float: left;
    margin-right: 5px;
    min-height: 100%;
    display: block;
  }

  .notification-text-wrapper {
    display: block;
    margin-top: 5px;
  }
}
