// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 !important;
  padding: 0 !important;
  // width: 100%;
  // height: 100%;
}

.container-fluid {
  height: calc(100% - 90px) ;

  .requests, .card {
    height: 100%;
  }
}

.dashboard-request-header-wrapper {
  margin-bottom: 10px;

  .dashboard-sidebar-item-name {
    font-size: 25px;
    font-weight: 100;
    float: left;
    color: #444;
  }

  .btn {
    margin: 0px;
  }
}

.dashboard-notification-item {

  .notification-text {
    color: black;
  }

  .notification-time-ago {
    font-size: 12px;
    color: gray;
  }
}

.dashboard-request-content-wrapper {
  margin: 0;

  .dashboard-sidebar-item-deadline {
    text-align: right;
  }

}

.dashboard-request-view-button {
  float: right;
}

.dashboard-sidebar-container {
  margin-top: 2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-sidebar-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  color: #d5d5d5;
}

.dashboard-sidebar-items-container {
  width: 100% !important;

  .badge {
    margin-top: 10px;
    float: left;
  }
}

.dashboard-sidebar-items {
  margin: 0;
  overflow:hidden;
  overflow-y:scroll;
}

.dashboard-side-bar-item-link-wrapper {
  height: 100%;
  width: 100%;
  display: block;
}

.dashboard-sidebar-request-tabs {
  width: 100%;
}


.dashboard-sidebar-item {
  color: #d5d5d5;

  .dashboard-request-badge-wrapper {
    width: 100%;
    height: 40px;
  }
}

.divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

.deadlines .card-title {
  color: #d5d5d5;
  font-size: 25px;
  font-weight: 500;
}

.deadline-card-items {
  height: 200px;
  overflow:hidden;
  overflow-y:scroll;
}

.deadline-card-item {
  height: 30px;
  list-style: none;
}


// _dashboard_request_approval_modal.html.erb

.request-approval-wrapper {

  .message-text-area {
    display: none;
    width: 100%;
  }

}
