// Place all the styles related to the discover controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search {
  padding-left: 35px;
}

.input-field {
  height: 50px;
}

.row .input-field input:focus {
  // HACK: Background color is hardcoded here
  background-color: #f6f6f6;
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important
}



.close-icon {
  padding-top: 10px;
}

.discover-wrapper {
  width: 100%;
  height: 1000px;
  margin-top: 2px;
}

.search-form {
  width: 100%;
  height: 75px;
}

.search-results {
  width: 100%;
}

.search-results-wrapper {
  margin: 20px;
}

.discover-card {
  margin: 10px;

  .card-content {
    padding: 10px 20px;
    height: 150px;
  }

  .card-title {

  }

  .card-subtitle {
    display: block;
    font-weight: lighter;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  $about-me-line-height: 1.4;
  $about-me-lines-to-show: 3;
  $about-me-font-size: 15px;

  .card-about-me {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $about-me-font-size * $about-me-line-height * $about-me-lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $about-me-font-size;
    line-height: $about-me-line-height;
    -webkit-line-clamp: $about-me-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .view-profile-link {
    color: black !important;
  }

}
