.discover-card {
  margin: 10px;
  height: 325px;
  color: black;

  .row .col {
    padding: 0;
  }

  .card-image-wrapper {
    display: block;
    height: 150px;
    width: 150px;
    margin-bottom: 0px;
    img {
      margin-top: 20px;
      max-width: 100%;
      display: block;
      border-radius: 50%;
    }
  }

  .card-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-content {
    padding: 10px 20px;
    height: 200px;
  }

  .card-subtitle {
    display: block;
    font-weight: lighter;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .card-about-me {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 85px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
