// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
  padding-left: 40px;
}

.search-form {
  height: 300px;
}

.home-background {
  color: white;
  font-size: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
  max-height: 870px !important;
  margin-top: -15px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("home_backdrop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
