// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  height: 300px;

  .label-icon {
    color: white !important;
  }

  input {
    color: white !important;
    padding-left: 25px !important;
  }
}

.landing-page-background {
  height: 100%;
  width:100%;
  margin: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("home_backdrop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  &:focus {
    color: white;
  }
  text-align: center;
  padding-top: 50px;
  font-size: 150px;
  color: white;
}

.home-form-title {
  color: white;
  margin: 0;
  text-align: center;
}

.home-form-wrapper {

  padding-top: 100px;

  .input-field {
    input {
      color: white;
    }

    input:focus {
      color: white;
    }
  }
}
