// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification {
  background-color: white;
  box-shadow: 5px 8px 8px #888888;
}

#profile-picture {
  height: 80px;
  width: 80px;
  padding: 10px;
  display: block;
  border-radius: 100%;
  object-fit: cover;
}

#notification-header {
  display: block;
  padding: 0;
}

#notification-header-wrapper {
  height: 100%;
  width: 100%;
}

#notification-header-name {
  font-size: 30px;
  margin-top: 5px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notification-header-time-ago {
  font-size:15px;
  color: gray;
}

.collapsible-header {
  padding: 0;
  display: block;
}

#notification-body {
  padding: 10px 0;
}

#notification-footer-text {
  text-align: right;
  color: gray;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

#message {
  width: 75%;
  padding-bottom: 5px;
}

#message-text {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  padding: 10px;
  margin: 0;
}

#message-time {
  font-size: 12px;
  color: gray;
  padding: 2px 0 0 15px;
  margin: 0;
}
