// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio-modal-wrapper {
  color: black;

  .title {
    font-size: 3em;
    margin: 0;
  }

  .button-wrapper {
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .waves-button-input {
		width: 100%;
		height: 100%;
	}

}

.modal-content {
  padding-top: 0;
}

#portfolio-wrapper {
  background-color: white;

  #portfolio-edit-button {
      float: right;
      margin-top: 10px;
  }

  .title {
    font-size: 30px;
    margin: 0;
    padding: 10px 10px 0 10px;
  }

  .short-description {
    margin: 0 10px 10px 10px;
  }

  .collapsible-body {
    padding: 10px;
  }
}

.title-wrapper {
	margin: 10px;
	display: block;

	#portfolio-title {
		display: inline-block;
		padding: 0;
		margin: 0;
		font-size: 2em;
	}
}

.portfolio-modal-header-wrapper {
  width: 100%;
  height: 60px;

  .title {
    float: left;
  }

  .edit-portfolio-delete-button {
    margin-top: 12px;
  }
}

.fancybox {
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    max-height: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
