// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav {
  margin-top: 66px;
}

.settings-profile-picture {
  margin: 15px 0 0 30px;
}

.settings-account-form {
  margin-top: 200px;
  background-color: red;
}

.edit_user {
  margin-top: 100px;
}
