// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//profile page

#profile-wrapper {
	padding-top: 10px;
}

#profile-wrapper .name {
	margin: 0;
	font-size: 30px;
	margin-bottom: -5px;
}

#profile-wrapper .display-name {
	margin: 0;
	margin-bottom: 10px;
}

.profile-img  {
	min-height: 150px;
  min-width: 150px;
	display: block;
  padding: 5px;
}

.profile-img img {
	height: 150px;
	width: 150px;
	display: block;
}

.profile-img {
	height: 150px;
	width: 150px;
}

.rating {
	padding: 5px;
}

#portfolio-picture {
	height: 100px;
  width: 100px;
  padding: 5px;
	margin: 10px;
  display: block;
  object-fit: cover;
	display: inline-block;
}

#add-button-wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
}

#about-me-edit-button {
	float: right;
	margin: 10px;
}

#profile-edit-picture-link {

	.edit-picture-text-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(128,128,128,0);
		opacity: 0;
		&:hover {
			opacity: 1;
			background-color: rgba(128,128,128,0.6);
			color: white;
		}

		.profile-picture-hover-text {
			margin-top: 30px;
			vertical-align: middle;
			width: 100%;
			text-align: center;
		}

	}

}

.about-me-wrapper .title-text {
	margin-top: 10px;
	font-size: 2em;
	padding-left: 20px;
	margin-bottom: 0;
	float: left;
}

.about-me-content {
	height: 100%;
	width: 100%;
}



// ==================================
// _about_me_edit_modal.html.erb
// ==================================

#add-button-wrapper {
	.btn {
		margin: 0;
	}
	.waves-button-input {
		width: 100%;
		height: 100%;
	}
}

.about-me-edit-wrapper {
	color:black;

	.btn {
		width: 100%;
		margin-top: 0;
	}

	.waves-button-input {
		width: 100%;
		height: 100%;
	}

	.title {
		font-size: 25px;
		float: left;
	}

}

.profile-img {
	position: relative;
	display: inline-block;
}

.profile-img:hover #edit {
	display: block;
}

#edit {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

#edit a {
	color: #000;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

// ==================================
// portfolio_create_modal.html.erb
// ==================================

.select2 {
	margin-left: 0;
	width: 100% !important;
	margin-bottom: 10px;
}

.select2-container--default .select2-selection--multiple {
	background-color: transparent;
}

// ==================================
// portfolio_edit_modal.html.erb
// ==================================

.edit-portfolio-delete-button {
	float: right;
	width: 100px !important;
}

// ==================================
// transaction_create_modal.html.erb
// ==================================

.deadline-field {
	margin-top: 50px;
}

.portfolio-modal-wrapper {
	select {
		display: inline;
	}
}
