// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//profile page

#profile-wrapper {
	padding-top: 10px;
}

#profile-wrapper .name {
	margin: 0;
	font-size: 30px;
	margin-bottom: -5px;
}

#profile-wrapper .display-name {
	margin: 0;
	margin-bottom: 10px;
}

.profile-img  {
	min-height: 150px;
  min-width: 150px;
	display: block;
  padding: 5px;
}

.profile-img img {
	height: 150px;
	width: 150px;
	display: block;
}

.profile-img {
	height: 150px;
	width: 150px;
}

.rating {
	padding: 5px;
}

.waves-effect {
margin-top: 30px;
}

#portfolio-picture {
	height: 100px;
  width: 100px;
  padding: 5px;
	margin: 10px;
  display: block;
  object-fit: cover;
	display: inline-block;
}

#add-button-wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
}

#add-button-wrapper .btn {
	margin: 0;
}
