// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .container {
// 	margin-left: 10%;
// 	margin-right: 10%;
// }

.name h1 {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 45px;
}

.name {
	margin-bottom: 30px;
}

.profile-img  {
	min-height: 100px;
  min-width: 100px;
	display: block;
  padding: 5px;
}

.profile-img img {
	min-width: 50%;
	display: block;
}

.rating {
	padding: 5px;
}

.waves-effect {
margin-top: 30px;
}


#portfolio-picture {
	height: 100px;
  width: 100px;
  padding: 5px;
	margin: 10px;
  display: block;
  object-fit: cover;
	display: inline-block;

}
