<nav class="nav-extended row">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">WExchange</a>
  </div>
  <div class="nav-content col s12">
    <ul class="tabs tabs-transparent">
      <li class="tab col m3 s12"><a href="#">Home</a></li>
      <li class="tab col m3 s12"><a href="#">Notifications</a></li>
      <li class="tab col m3 s12"><a href="#">Discover</a></li>
      <li class="tab col m3 s12"><a href="#">Profile</a></li>
    </ul>
  </div>
</nav>
