<div class="row container">
  <div class="notification col s8 push-s2">
    <div class="notification-header">
      <%= image_tag "profile_picture.jpg", :alt => "Profile Picture", id:"profile-picture", class:"col s4" %>
      <div id="notification-header-text" class="col s8">
        <div id="notification-header-name">Tom Brady</div>
        <div id="notification-header-time-ago">3 hours ago</div>
      </div>
    </div>
    <div id="notification-body" class="col s12">
      <div id="notification-body-text">
          2 new messages
      </div>
    </div>
    <div id="notification-footer" class="col s12">
      <div id="notification-footer-text">
        + See More
      </div>
    </div>
  </div>
</div>
