<% if @users.nil? %>
  <p>
No Users
  </p>

<% else %>
  <% @users.each do |user| %>
    <div class="col s10 m3 l3">
      <%= render 'layouts/discover_card', locals: {user: user} %>
    </div>
  <% end %>

<% end %>
