<%= puts @users.size %>
<% if @users.nil? || @users.size==0 %>
  <p>
    why

  </p>
  why

<% else %>
  <% @users.each do |user| %>
    <div class="col s10 m3 l3">
      <%= render 'layouts/discover_card', locals: {user: user} %>
    </div>
  <% end %>
  <p>
    why
  </p>
<% end %>
