<br />
<div id="discover-wrapper">
    <div class="row">
      <div class="container">
      <div class="search-bar-container col m12">
          <%= form_tag('/discover', method: :get, role: 'form', :id=>"discover-search-form", remote: true) do %>
          <div class="input-field col m9">
            <%= text_field_tag :search_query, params[:search_query], placeholder: 'Search...', type: 'search', id: "user_search", :icon=>"material-icons", :onclick=>"searchData()" %>
            <!-- <label for="search"><i class="material-icons">search</i></label> -->
          </div>
          <div class="search-filter-container col m3">
            <select name="filtertype" onchange="if (this.selectedIndex) searchData();">
                <option selected disabled>Search by</option>
                <option value="Both">Users and Portfolios</option>
                <option value="User">User</option>
                <option value="Portfolio">Portfolio</option>
            </select>
          </div>

          <% end %>
        </div>

    <!-- Cards container -->
    <div class="col m12" >
       <div class="user_results">
       </div>
     </div>
 </div>

 </div>
</div>



<script>

$(document).ready(function() {
    $('select').material_select();
});




</script>
