


<br />
<div id="container discover-wrapper">
  <div class="row">
    <div class="col s12 m12 l3">
      <nav class="search-title-filter">
        <div class="nav-wrapper">
          <%= form_tag('/discover', method: :get, role: 'form', :id=>"discover-search-form", remote: true) do %>

          <div class="input-field">
            <%= text_field_tag :search_query, params[:search_query] , type: 'search', id: "user_search", :icon=>"material-icons" %>
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </div>
      </nav>

      <select name="sort-news" id="sort-news">
        <option value="User">Filter By</option>

        <option value="User">User</option>
        <option value="Portfolio">Portfolio</option>
      </select>


      <select name="sort-news" id="sort-news">
        <option value="Graphic Design">All Content Type</option>

        <option value="Graphic Design">Graphic Design</option>
        <option value="Photography">Photography</option>
        <option value="Media">Videography</option>
      </select>
      <select name="sort-news" id="sort-news">
      <%(1..5).each do |r|  %>
        <option value="Cat3"><%=r %></option>
      <% end %>
    </select>

    <select name="sort-news" id="sort-news">
      <option value="Cat1">Name</option>
      <option value="Cat2">Username</option>
      <option value="Cat3">Review</option>
    </select>

    </div>
    <% end %>


    <!-- Cards container -->
    <div class="col s12 m12 l9">
      <div class="user_results">
      </div>
    </div>
</div>




<script>
$(document).ready(function() {
    $('select').material_select();
});

$(function () {
  $("#user_search").on('keyup', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

$(function () {
  $("#tag_search").on('change', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

$(function () {
  $(".check-marks").on('change', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

(function () {
  $(".sort-1").on('click', function () {

    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});







</script>
