<div class="discover-wrapper container row">
  <%= form_tag('/discover', method: :get, role: 'form', :id=>"discover-search-form", remote: true) do %>
    <div class="input-field col m6 offset-m3">
      <%= text_field_tag :search_query, params[:search_query], class: 'form-control', placeholder: "Search", id: "user_search" %>
    </div>
  <%end %>
  <br />
  <br />
  <br />
  <br />

  <div class="user_results"></div>
</div>



<script>

$(function () {
  $("#user_search").on('keyup', function () {
    $.get($("#discover-search-form").attr("action"), $("#discover-search-form").serialize(), null, "script");
    return false;
  });
});

</script>
