<%= form_for([@user, @user.reviews.new]) do |f| %>

	<div id="user_stars">

	<div class="form-group">

	</div>
		<%= f.text_area :text, rows: 3, class: "form-control" %>
	</div>



	<div class="actions">
		<%= f.submit "Create", class: "btn btn-primary" %>
	</div>

<% end %>

<script>
$('#user_stars').raty({
	path: '/assets',
	scoreName: 'review[star]',
	score: 3
});
</script>
