<div class="row">
  <div class="col-md-1">
    <div class="profile-img">

      <%= image_tag r.user.image.url(:thumb), class: "img-circle avatar-medium" %>
  </div>
</div>

  <div class="col-md-11">
    <div>
      <span class="pull-right">
        <%= link_to "Remove My Review", [@user, r], method: :delete, data: { confirm: "Are you sure?"} if current_user && current_user == r.user %>
      </span>
    </div>
    <div><%= r.created_at.strftime("%v") %></div>
    <div><%= r.text %></div>
  </div>
</div>
