<div class="discover-wrapper container row">
  <form>
    <div class="input-field col m6 offset-m3">
      <input id="search" type="search" placeholder="search..."required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons close-icon">close</i>
    </div>
  </form>
</div>
