<div class="container">
  <div class="row">
      <form class="col s12">
        <div class="row">
<!--  name contact-->
          <div class="input-field col s12">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>

            <div class="input-field col s6">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Last Name</label>
            </div>
          </div>

<!--  phone and email-->
          <div class="input-field col s12">
            <div class="input-field col s6">
              <!-- <i class="material-icons prefix">account_circle</i> -->
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Phone</label>
            </div>

            <div class="input-field col s6">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
          </div>

          <div class="input-field col s12">
            <div class="input-field col s6">
              <!-- <i class="material-icons prefix">account_circle</i> -->
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">High Price</label>
            </div>

            <div class="input-field col s6">
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Low Price</label>
            </div>
          </div>



          <div class="input-field col s12">

              <div class="file-field input-field">
                <div class="btn">
                  <span>Upload</span>
                  <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </div>

          <div class="input-field col s12">
                <input type="date" class="datepicker">
                    <label for="icon_prefix"></label>

              </div>
          </div>


          <div class="row">
             <form class="col s12">
               <div class="row">
                 <div class="input-field col s12">
                   <textarea id="textarea1" class="materialize-textarea"></textarea>
                   <label for="textarea1">Description and Comments</label>
                 </div>
               </div>
             </form>
           </div>

      </div>
      <div class="btn">
        <span>Submit</span>
      </div>
    </div>
