<div class="container">
  <ul id="slide-out" class="side-nav fixed">
      <li>
        <%= image_tag(@user.image.url, width: 100, height: 100, class: "circle-img settings-profile-picture") %>
      </li>
      <%-# commented line -%>
      <li class="sidebar_account"><%= link_to "Account", '/settings/profile' %></li>
      <li class="sidebar_account"><%= link_to "Advanced", '/settings/advanced' %></li>
  </ul>
</div>
