<ul id="slide-out" class="side-nav fixed">
        <li><div class="userView">
            <a href="#!user"><img class="circle" src="http://placehold.it/350x300"></a>

        </div></li>
        <%-# commented line -%>

            <li class="sidebar_account"><%= link_to "Account", '/settings/profile' %></li>
            <li class="sidebar_account"><%= link_to "Notifications", '/settings/notifications' %></li>
            <li class="sidebar_billing"><%= link_to "Billing", '/settings/billing' %></li>
            <li class="sidebar_account"><%= link_to "Advanced", '/settings/advanced' %></li>
    </ul>
