<ul class="marker-list">
<% if !request.progress.nil? %>
  <% request.progress.each do |marker| %>
    <li class="progress-marker">
      <p>
        <% if marker[1][:completed] == false %>
          <input type="checkbox" id="marker-check-<%= marker[0] %>" type="checkbox" class="marker-check"/>
        <% else %>
          <input type="checkbox" id="marker-check-<%= marker[0] %>" type="checkbox" checked class="marker-check"/>
        <% end %>
        <label for="marker-check-<%= marker[0] %>"><%= marker[0] %></label>
      </p>
    </li>
  <% end %>
<% end %>
</ul>
